# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Si2001\Downloads\SpringMVCHibernateWithSpringSecurityExample\SpringMVCHibernateWithSpringSecurityExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
